<ion-view view-title="Detay">
  <ion-content>

<div class="list card">

  <div class="item item-avatar">
    <img src="{{firmadetay.logo}}">
    <h2>{{firmadetay.adi}}</h2>
    <p>{{firmadetay.kategori}}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="{{firmadetay.logo}}">
    <p>
      {{firmadetay.detay}}
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

</div>

	<button class="button button-block button-balanced">
	<i class="icon ion-android-call"></i>
  		444 0 444
	</button>

</div>
</ion-content>
</ion-view>
